<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

    <link rel="stylesheet" href="styles/headerAdmin.css" />
    <link rel="stylesheet" href="styles/theaterSeats.css" />
    <link rel="stylesheet" href="styles/datePicker.css" />

    <title>broadway9th</title>
  </head>
  <body>
    <%- include('headerAdmin.ejs') %>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne"
          >
            회차별 공연 목록 생성 / 관리
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body">
            <p>
              <table>
                <h5>극장 이름</h5>
                <td>
                  <input
                    list="my-theaters-select-content"
                    id="my-theater-choice-content"
                    name="my-theater-choice-content"
                  />
                  <datalist
                    id="my-theaters-select-content"
                    name="my-theaters-select-content"
                  ></datalist>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="getMyPerformsContent()"
                  >
                    공연 조회
                  </button>
                </td>
              </table>
            </p>
            <p>
              <h5>공연 제목</h5>
              <table>
                <td>
                  <input
                    list="my-performs-select-content"
                    id="my-perform-choice-content"
                    name="my-perform-choice-content"
                  />
                  <datalist
                    id="my-performs-select-content"
                    name="my-performs-select-content"
                  ></datalist>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="getPerformInfoContent()"
                  >
                    공연 정보 보기
                  </button>
                </td>
              </table>
            </p>
            <p>
              <ul class="list-group" id="perform-info-create-contents"></ul>
            </p>            
            <h5>공연 기간 / 공연 시간</h5>
            <h6> ( 공연 시작일, 공연 종료일 / 공연 시작시간, 공연 종료시간 )</h6>
            <p>
              <table>
                <td>
                  <form autocomplete="off">
                    <div class="flex-row">                  
                      <div class="input-group input-daterange">
                        <input type="text" class="form-control input1" id="start-date" placeholder="Start Date" readonly>
                        <input type="text" class="form-control input2" id="end-date" placeholder="End Date" readonly>
                      </div>                    
                    </div>
                  </form>
                </td>
                <td>
                  <input type="time" id="start-time" value="19:00">
                </td>
                <td>
                  <input type="time" id="end-time" value="21:00">
                </td>
              </table>
            </p>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="getPerformInfoForContent()"
            >
              공연 상세 등록
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            공연 회차별 좌석 정보 생성 / 관리
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo"
        >
          <div class="accordion-body">
            <p>
              <p>
                <h5>회차별 공연 목록 불러오기</h5>
              </p>
              <table>
                <td>
                  <input
                    list="my-contents-select-for-seats"
                    id="my-contents-choice-for-seats"
                    name="my-contents-choice-for-seats"
                  />
                  <datalist
                    id="my-contents-select-for-seats"
                    name="my-contents-select-for-seats"
                  ></datalist>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="getMyContentsPerformId()"
                  >
                    공연 조회
                  </button>
                </td>
              </table>
            </p>
            <p>
              <ul class="list-group" id="contents-list"></ul>
            </p>
            <p>
              <h5>극장 이름</h5>
            </p>
            <table>
              <tr>
                <td>
                  <input
                    list="my-theaters-select"
                    id="my-theater-choice"
                    name="my-theater-choice"
                  />
                  <datalist
                    id="my-theaters-select"
                    name="my-theaters-select"
                  ></datalist>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="printSeats()"
                  >
                    조회
                  </button>
                </td>
              </tr>
            </table>
            <p>
              <div class="container">
                <div class="orderSeatsLeftZone">
                  <div class="stageZone">
                    <span class="stage">
                      <span class="stageText">STAGE</span>
                    </span>
                  </div>
                  <div class="seatsZone">
                    <span class="seats" id="seats">
                    </span>
                  </div>
                </div>
              </div>
            </p>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="getContentsPerformId()"
            >
              좌석 정보 생성
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            타임세일 등록 / 관리
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree"
        >
          <div class="accordion-body">
            <p>
              <p>
                <h5>회차별 공연 목록 불러오기</h5>
              </p>
              <table>
                <td>
                  <input
                    list="my-contents-select-for-timesale"
                    id="my-contents-choice-for-timesale"
                    name="my-contents-choice-for-timesale"
                  />
                  <datalist
                    id="my-contents-select-for-timesale"
                    name="my-contents-select-for-timesale"
                  ></datalist>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="getMyContentsPerformIdTimeSale()"
                  >
                    공연 조회
                  </button>
                </td>
              </table>
            </p>
            <p>
              <h5>타임세일 적용 회차 선택</h5>
            </p>
            <p>
              <ul class="list-group" id="contents-list-timesale"></ul>
            </p>
            <p>
              <p>
                <h5>타임세일 시작시간 / 종료시간</h5>
              </p>
              <table>
                <td>
                  <input type="time" id="timesale-start-time" value="07:00">
                </td>
                <td>
                  <form autocomplete="off">
                    <div class="flex-row">                  
                      <div class="input-group input-daterange">
                        <input type="text" class="form-control input1" id="timesale-start-date" placeholder="Start Date" readonly>
                        <input type="text" class="form-control input2" id="timesale-end-date" placeholder="End Date" readonly>
                      </div>                    
                    </div>
                  </form>
                </td>
                <td>
                  <input type="time" id="timesale-end-time" value="17:00">
                </td>
              </table>
            </p>
            <p>
              <h5>할인율</h5>
            </p>
            <p>
              <input id="timesale-rate" type="number" step=5 >
            </p>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="createTimeSaleGetPerformId()"
            >
              타임세일 등록
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/adminContent.js"></script>
  </body>
</html>
