<header class="header">
  <nav class="header_nav">
    <span class="header_nav_home">
      <a href="/render-user/home"><img src="img/logo005.png" class="logo" /></a>
    </span>
    <span class="header_nav_content">
      <div class="header_upper">
        <div class="header_nav_columns">
          <a href="/render-user/membership">회원정보</a>
          <a href="" onclick="logout()">로그아웃</a>
        </div>
      </div>
      <div class="header_under">
        <span class="header_under_zone1"> </span>
        <span class="header_under_zone2">
          <form>
            <p>
              <input
                type="text"
                id="search"
                onkeyup="filter()"
                class="form-text"
                placeholder="공연명 검색"
              />
            </p>
          </form>
        </span>
      </div>
    </span>
  </nav>
</header>
