<header class="header">
  <nav class="header_nav">
    <span class="header_nav_home">
      <a href="/render-user/home"><img src="img/logo005.png" class="logo" /></a>
    </span>
    <span class="header_nav_content">
      <div class="header_upper"></div>
      <div class="header_under2">
        <span class="header_under_zone1"> </span>
        <span class="header_under_zone3">
          <div class="header_nav_columns2">
            <a href="/render-user/login">로그인</a>
            <a href="/render-user/join">회원가입</a>
          </div>
        </span>
      </div>
    </span>
  </nav>
</header>
