<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/join.css" />

    <title>broadway9th join</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <div class="zone_login">
      <div class="wrap">
        <div style="color: #ffcd4a">
          <h1 style="font-weight: bolder">회원가입</h1>
        </div>
      <div class="joinInputs">
        <label for="userId">아이디</label>
        <input
          type="text"
          class="inputId"
          id="userId"
          placeholder="영어 대/소문자, 숫자, 3글자 이상"
        />
        <label for="password">비밀번호</label>
        <input
          type="text"
          class="inputId"
          id="password"
          placeholder="영어 대/소문자, 숫자, 3글자 이상"
        />
        <label for="pwCheck">비밀번호 확인</label>
        <input
          type="text"
          class="inputId"
          id="pwCheck"
          placeholder="같은 비밀번호를 한번 더 입력해주세요."
        />
        <label for="name">이름</label>
        <input
          type="text"
          class="inputId"
          id="name"
          placeholder="영어 대/소문자, 한글, 숫자"
        />
        <label for="email">이메일</label>
        <input
          type="text"
          class="inputId"
          id="email"
          placeholder="이메일 양식 - 특수문자 ( @, . ) 포함"
        />
        <label for="userType">사용자 구분</label>
        <select class="form-select" id="userType">
                  <option selected>-- 사용자 선택 --</option>
                  <option value="2">극장담당자</option>
                  <option value="1">일반회원</option>
                </select>
      </div>
      <div class="joinBtns">
        <button
          class="tologinBtn"
          type="button"
          onclick="location.href='/render-user/login'"
        >
          취소
        </button>
        <button class="joinBtn" type="button" onclick="join()">회원가입</button>
      </div>
    </div>
    <script src="scripts/join.js"></script>

    <script></script>
  </body>
</html>
