<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link href="../static/styles/home.css" rel="stylesheet" type="text/css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        get_products();
        random_products();
      });

      function get_products() {
        $.ajax({
          type: 'GET',
          url: '/products',
          data: {},
          success: function (response) {
            for (let e of response.data) {
              let id = e.productId;
              let name = e.productName;
              let spec = e.productExp;
              let price = e.price;
              let photo = e.productPhoto;
              let quantity = e.quantity;
              let count = e.userCount;
              let created = e.createdAt;
              let updated = e.updatedAt;
              let temp_html = `<a class ="divTextHidden" href="/${id}"><div class="products">
                            <div class="photoBox">
                              <img src="${photo}"/>
                            </div>
                            <p>${name}</p>
                            <p>${price}원</p>
                          </div></a>
                          <div class = "displayNone">${spec}${quantity}${count}${created}${updated}</div>`;
              $('.product_list').append(temp_html);
            }
          },
        });
      }

      function search() {}
    </script>
    <style>
      /* header */
      .header {
        background-color: black;
        padding: 0px;
        height: 100px;
      }
      .header_nav {
        display: flex;
        flex-direction: row;
        /* justify-content: ; */
        align-items: center;
      }
      .header_nav_home {
        width: 600px;
        height: 100%;
      }
      .logo {
        width: 400px;
      }
      .header_nav_content {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
      }
      .header_upper {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: end;
        align-items: end;
      }
      .header_nav_columns {
        margin-right: 20px;
      }
      .header_under {
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .header_under a {
        color: #ffcd4a;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
      }
      .header_under_zone1 {
        width: 80%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        background-color: aqua;
      }
      .header_under_zone2 {
        width: 20%;
        height: 100%;
        background-color: yellowgreen;

        display: flex;
        align-items: center;
        justify-content: end;
      }
      a {
        color: white;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
      }

      input {
        vertical-align: middle;
      }
      input.form-text {
        border: 1px solid white;
        height: 25px;
        background-color: black;

        margin-right: 10px;
      }
      input.img-button {
        background: url('img/search.png') no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;

        margin-right: 20px;
      }

      /* zone1 */
      .zone1 {
        height: 800px;
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5)
          ),
          url('img/curtain.jpeg');
        background-position: center;
        background-size: cover;
      }

      .posts {
        width: 300px;
        height: 500px;
        padding: 100px 15px 5px 15px;
      }

      .posts:hover {
        /* display: none; */
        filter: brightness(50%);
      }

      /* .nondisplay {
        display: none;
        /* width: 300px;
        height: 500px;
        padding: 100px 15px 5px 15px; */
      /* } */

      /* .nondisplay:hover {
        display: block;
        background-color: black;
        opacity: 50%;
        width: 300px;
        height: 500px;
        padding: 100px 15px 5px 15px;
        color: white;
      } */
      .postsWrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .postboxes {
        /* background-color: beige; */

        /* display: flex;
        flex-direction: column;
        justify-content: center; */
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .specBtn {
        width: 80px;
        height: 40px;
        color: white;
        background-color: transparent;

        border-radius: 10px;
        border-color: lightgrey;
        border-style: double;
      }

      .specBtn:hover {
        background-color: white;
        color: black;
      }
      .reserveBtn {
        width: 175px;
        height: 40px;
        background-color: #ffcd4a;

        border-radius: 10px;
        border: 0px;

        font-weight: 600;
      }
      .oneSet {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <title>broadway9th</title>
  </head>
  <body>
    <header class="header">
      <nav class="header_nav">
        <span class="header_nav_home">
          <a href="/"><img src="img/logo005.png" class="logo" /></a>
        </span>
        <span class="header_nav_content">
          <div class="header_upper">
            <div class="header_nav_columns">
              <a href="/login">로그인</a>
              <a href="/join">회원가입</a>
            </div>
          </div>
          <div class="header_under">
            <span class="header_under_zone1">
              <a href="/">빠른예매</a>
              <a href="/">공연정보</a>
              <a href="/">극장정보</a>
              <a href="/"></a>
            </span>
            <span class="header_under_zone2">
              <form>
                <p>
                  <input
                    type="text"
                    class="form-text"
                    placeholder="공연명 검색"
                  />
                  <input type="button" class="img-button" />
                </p>
              </form>
            </span>
          </div>
        </span>
      </nav>
    </header>
    <div class="zone1">
      <div class="postsWrap">
        <div class="postboxes">
          <!-- <span class="oneSet"> -->
          <!-- <span class="nondisplay">강지성 첼로독주회</span> -->
          <img
            class="posts"
            src="https://www.kopis.or.kr/upload/pfmPoster/PF_PF213951_230224_140008.png"
          />
          <!-- </span> -->
          <div class="buttons">
            <button class="specBtn">상세정보</button>
            <button class="reserveBtn">예매하기</button>
          </div>
        </div>
        <div class="postboxes">
          <img
            class="posts"
            src="https://www.kopis.or.kr/upload/pfmPoster/PF_PF212852_230208_130150.jpg"
          />
          <div class="buttons">
            <button class="specBtn">상세정보</button>
            <button class="reserveBtn">예매하기</button>
          </div>
        </div>
        <div class="postboxes">
          <img
            class="posts"
            src="https://www.kopis.or.kr/upload/pfmPoster/PF_PF214121_230227_155748.png"
          />
          <div class="buttons">
            <button class="specBtn">상세정보</button>
            <button class="reserveBtn">예매하기</button>
          </div>
        </div>
        <div class="postboxes">
          <img
            class="posts"
            src="https://www.kopis.or.kr/upload/pfmPoster/PF_PF213299_230214_132226.gif"
          />
          <div class="buttons">
            <button class="specBtn">상세정보</button>
            <button class="reserveBtn">예매하기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../static/scripts/home.js"></script> -->
    <script>
      function logout() {
        $.ajax({
          type: 'GET',
          url: '/api/auth/logout',
          success: function (response) {
            alert(response.message);
            window.location.href = '/login';
          },
          error: function (response) {
            alert(response.responseJSON.message);
          },
        });
      }
    </script>
  </body>
</html>
