<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link href="../static/styles/home.css" rel="stylesheet" type="text/css" /> -->
    <meta http-equiv="page-enter" content="blendTrans(duration=0.3)" />
    <meta http-equiv="page-exit" content="blendTrans(duration=0.3)" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      let seatCountGlobal = 0;
      let theaterGlobal = '';
      let seatsArrayGlobal = new Array();
      let seatsBeforeEditArrayGlobal = new Array();

      const contentId = new URL(window.location.href).searchParams.get(
        'contentId'
      );

      $(document).ready(function () {
        printSeats(contentId);
        printContent(contentId);
        sortAndPrintChoosedSeatsListAndTotalPrice();
      });

      function printSeats(contentId) {
        $.ajax({
          type: 'GET',
          url: `/order-seats/${contentId}/seatsWithMine`,
          success: function (response) {
            //좌석 전체 출력
            let rows = response['seats'];
            console.log(rows);
            theaterGlobal = rows[0].theater;

            let tempHtml = `<div class="seatsHorizontalLine">`;
            let currentSeatAlphabet = 'A';

            document.getElementById('seats').innerHTML = '';

            for (let i = 0; i < rows.length; i++) {
              let seatAlphabet = rows[i].seat[0];
              let seat = rows[i].seat;
              if (seatAlphabet !== currentSeatAlphabet) {
                currentSeatAlphabet = seatAlphabet;

                tempHtml += `</div><div class="seatsHorizontalLine">`;
              }

              if (rows[i].orderStatus > 0) {
                tempHtml += `
                  <span class="seatDisable" id= "${seat}">${seat}</span>
                  <span style="display:hidden" id= "${seat}Grade" value="일반"></span>
                  <span style="display:hidden" id= "${seat}Price" value="${rows[i].price}"> </span>
              `;
              } else {
                tempHtml += `
                  <span class="seat" id= "${seat}" onclick="chooseSeat(${seat})">${seat}</span>
                  <span style="display:hidden" id= "${seat}Grade" value="일반"></span>
                  <span style="display:hidden" id= "${seat}Price" value="${rows[i].price}"> </span>
              `;
              }
            }

            tempHtml += `</div>`;

            $('#seats').append(tempHtml);

            //본인 선택한 좌석 변환 부분

            rows = response['mySeats'];

            for (let i = 0; i < rows.length; i++) {
              seatsArrayGlobal.push(rows[i].seat);
              seatCountGlobal++;
              seatsBeforeEditArrayGlobal.push(rows[i].seat);
            }

            let temp;
            seatsArrayGlobal.sort();

            for (let i = 0; i < seatCountGlobal; i++) {
              temp = document.getElementById(`${seatsArrayGlobal[i]}`);
              temp.setAttribute('class', 'seatChoosed');
              temp.setAttribute(
                'onclick',
                `releaseSeat(${seatsArrayGlobal[i]})`
              );
            }

            sortAndPrintChoosedSeatsListAndTotalPrice();

            return;
          },
        });

        return;
      }

      function printContent(contentId) {
        $.ajax({
          type: 'GET',
          url: `/order-seats/content/${contentId}`,
          success: function (response) {
            console.log(response);
            let tempHtml = ``;
            document.getElementById('contentInfo').innerHTML = '';

            let contentName = response['kopisApi']['performName'];
            let round = response['performRound'];
            let date = response['performDate'].split(' ')[0];
            let time = response['performDate'].split(' ')[1].substr(0, 5);
            let endTime = calculateEndTime(time, response['performTime']);

            tempHtml = `
              ${contentName} ${round}회차 <br />
              ${date} 
              ${time} ~ ${endTime} <br />
            `;

            $('#contentInfo').append(tempHtml);

            return;
          },
        });
        return;
      }

      function chooseSeat(seat) {
        if (seatCountGlobal === 4) {
          alert('한번에 4개의 좌석까지 예약할 수 있습니다.');
          return;
        }
        seat.setAttribute('class', 'seatChoosed');
        seat.setAttribute('onclick', `releaseSeat(${seat.getAttribute('id')})`);
        pushSeatToSeatsArray(seat.getAttribute('id'), seatsArrayGlobal);
        seatCountGlobal++;
        sortAndPrintChoosedSeatsListAndTotalPrice();
        // console.log(seatCountGlobal);
        // console.log(seatsArrayGlobal);

        return;
      }

      function releaseSeat(seat) {
        seat.setAttribute('class', 'seat');
        seat.setAttribute('onclick', `chooseSeat(${seat.getAttribute('id')})`);
        spliceSeatFromSeatsArray(seat.getAttribute('id'), seatsArrayGlobal);
        seatCountGlobal--;
        sortAndPrintChoosedSeatsListAndTotalPrice();
        // console.log(seatCountGlobal);
        // console.log(seatsArrayGlobal);

        return;
      }

      function sortAndPrintChoosedSeatsListAndTotalPrice() {
        seatsArrayGlobal.sort();
        let totalPrice = 0;
        let tempHtml = `
        `;

        for (let i = 0; i < seatsArrayGlobal.length; i++) {
          let price = document
            .getElementById(`${seatsArrayGlobal[i]}Price`)
            .getAttribute('value');
          let grade = document
            .getElementById(`${seatsArrayGlobal[i]}Grade`)
            .getAttribute('value');

          totalPrice += parseInt(price);

          tempHtml += `
            <div class="choosedSeatList">
                <span class="choosedSeatListLeftZone">
                  <span class="showTheaterAndSeat">
                    ${theaterGlobal} <br />
                    <span class="boldSeatNumber">${seatsArrayGlobal[i]}</span>
                  </span>
                  <span class="showGradeAndPrice">
                    ${grade}석 <br />
                    ₩${price}
                  </span>
                </span>
                <span class="choosedSeatListRightZone"
                  ><img src="img/cancel.png" class="cancelButton" onclick="releaseSeat(${seatsArrayGlobal[i]})"
                /></span>
              </div>
          `;
        }

        document.getElementById('choosedSeatsListZone').innerHTML = '';
        document.getElementById('showPriceZone').innerHTML = '';
        $('#choosedSeatsListZone').append(tempHtml);
        $('#showPriceZone').append(
          `<span class="price"> 예상 금액: ₩${totalPrice} </span>`
        );

        return;
      }

      function pushSeatToSeatsArray(seat, array) {
        array.push(seat);
        return array;
      }

      function spliceSeatFromSeatsArray(seat, array) {
        for (let i = 0; i < array.length; i++) {
          if (seat === array[i]) {
            array.splice(i, 1);
            return array;
          }
        }

        return;
      }

      async function nextStep() {
        let link = `/render-order-seats/paySeats?contentId=${contentId}`;

        if (seatCountGlobal === 0) {
          const check = confirm(
            '좌석이 선택되지 않았습니다. 예매를 취소하시겠습니까?'
          );
          if (!check) {
            return;
          } else {
            link = '/';
          }
        } else if (!checkEdited(seatsBeforeEditArrayGlobal, seatsArrayGlobal)) {
          //alert('변경사항이 없습니다');
          location.href = link;
          return;
        }
        editReservedSeats(contentId);
        location.href = link;

        //조건절 제대로 구현하기 지금은 임시로 seatReservationWhilePay에 링크넣음
        // const check = await seatReservationWhilePay(1);

        // if (check === false) {
        //   return;
        // }

        // location.href = link;

        return;
      }

      async function editReservedSeats(contentId) {
        let sendData = {
          seatsBefore: seatsBeforeEditArrayGlobal,
          seatsAfter: seatsArrayGlobal,
        };
        try {
          await $.ajax({
            type: 'PATCH',
            url: `/order-seats/${contentId}/editReservedSeats`,
            contentType: 'application/json',
            data: JSON.stringify(sendData),

            success: function (response) {
              console.log(response);
              if (response.errMsg) {
                alert(response.errMsg);
                return;
              }

              alert(response.msg);
            },
          });
        } catch (e) {
          console.log(e);
        }

        // location.href = '/';

        return;
      }

      function checkEdited(seatsBefore, seatsAfter) {
        if (seatsBefore.length !== seatsAfter.length) {
          return true;
        }
        for (let i = 0; i < seatsBefore.length; i++) {
          if (seatsBefore[i] !== seatsAfter[i]) {
            return true;
          }
        }

        return false;
      }

      function calculateEndTime(startTime, runningTimeMinutes) {
        let hours = '';
        let minutes = '';

        hours = startTime.split(':')[0];
        minutes = startTime.split(':')[1];

        let plusHours = '';
        let plusMinutes = '';

        plusHours = parseInt(runningTimeMinutes / 60);
        plusMinutes = runningTimeMinutes % 60;

        hours = parseInt(hours) + plusHours;
        minutes = parseInt(minutes) + plusMinutes;

        if (minutes > 60) {
          hours++;
          minutes -= 60;
        }

        hours = hours.toString();
        minutes = minutes.toString();

        if (minutes === '0') {
          minutes = '00';
        }

        return hours + ':' + minutes;
      }
    </script>
    <style>
      /* header */
      .header {
        background-color: black;
        padding: 0px;
        height: 100px;
      }
      .header_nav {
        display: flex;
        flex-direction: row;
        /* justify-content: ; */
        align-items: center;
      }
      .header_nav_home {
        width: 400px;
      }
      .logo {
        width: 400px;
      }
      .header_nav_content {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
      }
      .header_upper {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: end;
        align-items: center;
      }
      .header_under {
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: end;
      }
      .header_nav_columns {
        margin-right: 20px;
      }

      a {
        color: white;
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
      }

      input {
        vertical-align: middle;
      }
      input.form-text {
        border: 1px solid white;
        height: 25px;
        background-color: black;

        margin-right: 10px;
      }
      input.img-button {
        background: url('img/search.png') no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;

        margin-right: 20px;
      }

      /* zone1 */
      .zone1 {
        height: 800px;
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5)
          ),
          url('img/curtain.jpeg');
        background-position: center;
        background-size: cover;
      }

      .posts {
        width: 300px;
        height: 500px;
        padding: 100px 15px 5px 15px;
      }

      .posts:hover {
        /* display: none; */
        filter: brightness(50%);
      }

      /* .nondisplay {
        display: none;
        /* width: 300px;
        height: 500px;
        padding: 100px 15px 5px 15px; */
      /* } */

      /* .nondisplay:hover {
        display: block;
        background-color: black;
        opacity: 50%;
        width: 300px;
        height: 500px;
        padding: 100px 15px 5px 15px;
        color: white;
      } */
      .postsWrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .postboxes {
        /* background-color: beige; */

        /* display: flex;
        flex-direction: column;
        justify-content: center; */
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .specBtn {
        width: 80px;
        height: 40px;
        color: white;
        background-color: transparent;

        border-radius: 10px;
        border-color: lightgrey;
        border-style: double;
      }

      .specBtn:hover {
        background-color: white;
        color: black;
      }
      .reserveBtn {
        width: 175px;
        height: 40px;
        background-color: goldenrod;

        border-radius: 10px;
        border: 0px;

        font-weight: 600;
        color: white;
      }
      .oneSet {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* 예매공간 부분 */

      .orderSeatsWholeZone {
        display: flex;
        justify-content: center;
      }

      .orderSeatsLeftZone {
        background-color: rgb(48, 46, 46);
        display: inline-block;
        width: 800px;
        height: 600px;
        border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
        border: 1px solid rgb(168, 168, 168);
        margin-right: 10px;
      }

      .orderSeatsRightZone {
        background-color: rgb(46, 46, 48);
        border: 1px solid rgb(168, 168, 168);
        display: inline-block;
        width: 300px;
        border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
      }

      .stageZone {
        /* background-color: rgb(87, 196, 159); */
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }

      .stage {
        background-color: rgb(201, 199, 199);
        width: 400px;
        height: 50px;
        color: rgb(56, 56, 56);
        font-size: 170%;
        font-weight: bold;
        text-align: center;
        border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
      }

      .stageText {
        margin-top: 10px;
      }

      .seatsZone {
        /* background-color: rgb(88, 88, 243); */
        margin-top: 40px;
        display: flex;
        justify-content: center;
      }

      .seats {
        /* background-color: blueviolet; */
      }

      .seatsHorizontalLine {
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .seat {
        background-color: lightgray;
        width: 40px;
        height: 40px;
        margin: 5px;
        padding: 3px;
        display: inline-block;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
        border: 2px solid orange;
        font-weight: bold;
        text-align: center;
      }

      .seatDisable {
        background-color: rgb(34, 34, 34);
        width: 40px;
        height: 40px;
        margin: 5px;
        padding: 3px;
        display: inline-block;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
        border: 2px solid rgb(155, 155, 155);
        font-weight: bold;
        text-align: center;
      }

      .seatChoosed {
        background-color: orange;
        width: 40px;
        height: 40px;
        margin: 5px;
        padding: 3px;
        display: inline-block;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
        border: 2px solid orange;
        font-weight: bold;
        text-align: center;
      }

      .seat:hover {
        background-color: rgb(247, 224, 182);
        cursor: pointer;
      }

      .seat:active {
        background-color: orange;
        cursor: pointer;
      }

      .seatChoosed:hover {
        cursor: pointer;
      }

      .showCurrentContentZone {
        /* background-color: rgb(206, 206, 206); */
        border-radius: 10px 10px 0px 0px / 10px 10px 10px 10px;
        border-bottom: 1px solid rgb(196, 196, 196);
        border: 1px solid rgb(214, 214, 214);
        color: rgb(236, 236, 236);

        margin-left: 7.5px;
        margin-top: 10px;
        width: 95%;
        height: 15%;

        display: flex;
        justify-content: center;
      }

      .currentContent {
        /* background-color: chocolate; */
        text-align: center;
        font-size: 110%;
        font-weight: bold;
      }

      .choosedSeatsListZone {
        /* background-color: rgb(161, 134, 134); */
        margin-top: 10px;
        height: 55%;

        /* display: flex; */
        /* justify-content: center; */
      }

      .choosedSeatList {
        /* background-color: darkolivegreen; */
        /* border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px; */
        /* border-top: 1px solid white;
        border-bottom: 1px solid white; */
        height: 20%;
        margin-top: 10px;

        /* display: inline-block; */
      }

      .partitionLine {
        margin-top: 10px;
        border-top: 1px solid rgb(223, 223, 223);
      }

      .choosedSeatListLeftZone {
        /* border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px; */
        border: 1px solid rgb(202, 202, 202);
        margin-left: 10px;
        /* background-color: rgb(204, 204, 204); */
        display: inline-block;
        width: 80%;
        color: whitesmoke;
      }

      .showTheaterAndSeat {
        /* background-color: darkkhaki; */
        margin-top: 5px;
        margin-left: 20px;
        float: left;
        text-align: center;
      }

      .boldSeatNumber {
        font-size: 130%;
      }

      .showGradeAndPrice {
        /* background-color: darkcyan; */
        margin-top: 7px;
        margin-right: 7px;
        float: right;
        text-align: right;
      }

      .choosedSeatListRightZone {
        /* background-color: aquamarine; */
        display: inline;
      }

      .cancelButton {
        width: 10%;
        margin-top: 5%;
        margin-right: 3.5%;
        float: right;
      }

      .cancelButton:hover {
        filter: brightness(0.7);
        cursor: pointer;
      }

      .cancelButton:active {
        margin-top: 5.2%;
        margin-right: 3.1%;
        border-radius: 8.5px;
        filter: brightness(0.7);
        /* box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5); */
        position: relative;
      }

      .showPriceZone {
        /* background-color: deeppink; */
        height: 7%;
        margin-top: 10px;
        border-top: 1px solid rgb(201, 201, 201);

        display: flex;
        justify-content: center;
      }

      .price {
        margin-top: 3px;
        color: rgb(233, 233, 233);
        font-weight: bold;
        font-size: 120%;
        /* background-color: cadetblue; */
      }

      .postButtonZone {
        /* background-color: hotpink; */
        height: 10%;
        /* margin-top: 5px; */
        display: flex;
        justify-content: center;
      }

      .postButtonArea {
        /* background-color: chartreuse; */
        text-align: center;
        /* background-color: white; */
        /* border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px; */
      }

      .postButton {
        border: 1px solid rgb(207, 207, 207);
        margin-top: 7px;
        font-size: 130%;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
      }

      .postButton:hover {
        background-color: orange;
      }

      .postButton:active {
        margin-top: 8px;
        margin-right: -1px;
        background-color: orange;
      }
    </style>
    <title>broadway9th</title>
  </head>
  <body>
    <header class="header">
      <nav class="header_nav">
        <span class="header_nav_home">
          <a href="/render-user/home"
            ><img src="img/logo005.png" class="logo"
          /></a>
        </span>
        <span class="header_nav_content">
          <div class="header_upper">
            <div class="header_nav_columns">
              <a href="/render-order-seats/processingSeats">예매내역</a>
              <a href="/render-user/membership">회원정보</a>
              <a href="" onclick="logout()">로그아웃</a>
            </div>
          </div>
          <div class="header_under">
            <span class="header_under_zone2">
              <!-- <form>
                <p>
                  <input
                    type="text"
                    id="search"
                    onkeyup="filter()"
                    class="form-text"
                    placeholder="공연명 검색"
                  />
                </p>
              </form> -->
            </span>
          </div>
        </span>
      </nav>
    </header>

    <div class="zone1">
      <div class="orderSeatsWholeZone">
        <div class="orderSeatsLeftZone">
          <div class="stageZone">
            <span class="stage">
              <span class="stageText">STAGE</span>
            </span>
          </div>
          <div class="seatsZone">
            <span class="seats" id="seats">
              <!-- <div class="seatsHorizontalLine">
                <span class="seat">A1</span>
                <span class="seat">A2</span>
                <span class="seat">A3</span>
                <span class="seat">A4</span>
                <span class="seat">A5</span>
              </div>
              <div class="seatsHorizontalLine">
                <span class="seat">B1</span>
                <span class="seat">B2</span>
                <span class="seat">B3</span>
                <span class="seat">B4</span>
                <span class="seat">B5</span>
              </div>
              <div class="seatsHorizontalLine">
                <span class="seat">C1</span>
                <span class="seat">C2</span>
                <span class="seat">C3</span>
                <span class="seat">C4</span>
                <span class="seat">C5</span>
              </div> -->
            </span>
          </div>
        </div>
        <div class="orderSeatsRightZone">
          <div class="showCurrentContentZone">
            <span class="currentContent" id="contentInfo">
              <!-- 위키드 Wicked 3회차 <br />
              23-02-03 <br />
              14:20 ~ 16:20 <br /> -->
            </span>
          </div>
          <div class="partitionLine"></div>
          <div class="choosedSeatsListZone" id="choosedSeatsListZone">
            <!-- <div class="choosedSeatList">
              <span class="choosedSeatListLeftZone">
                <span class="showTheaterAndSeat">
                  예술의전당 <br />
                  <span class="boldSeatNumber">C1</span>
                </span>
                <span class="showGradeAndPrice">
                  R석 <br />
                  ₩25,000
                </span>
              </span>
              <span class="choosedSeatListRightZone"
                ><img src="img/cancel.png" class="cancelButton"
              /></span>
            </div>
            <div class="choosedSeatList">
              <span class="choosedSeatListLeftZone">
                <span class="showTheaterAndSeat">
                  예술의전당 <br />
                  <span class="boldSeatNumber">C2</span>
                </span>
                <span class="showGradeAndPrice">
                  R석 <br />
                  ₩25,000
                </span>
              </span>
              <span class="choosedSeatListRightZone"
                ><img src="img/cancel.png" class="cancelButton"
              /></span>
            </div>
            <div class="choosedSeatList">
              <span class="choosedSeatListLeftZone">
                <span class="showTheaterAndSeat">
                  예술의전당 <br />
                  <span class="boldSeatNumber">C3</span>
                </span>
                <span class="showGradeAndPrice">
                  R석 <br />
                  ₩25,000
                </span>
              </span>
              <span class="choosedSeatListRightZone"
                ><img src="img/cancel.png" class="cancelButton"
              /></span>
            </div> -->
          </div>

          <div class="showPriceZone" id="showPriceZone">
            <!-- <span class="price"> 예상 금액: ₩75,000 </span> -->
          </div>
          <div class="postButtonZone">
            <span class="postButtonArea">
              <button class="postButton" onclick="nextStep()">
                다 골랐어요
              </button></span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../static/scripts/home.js"></script> -->
  </body>
</html>
