.detailZone1 {
  width: 100%;
  height: 900px;
  background-color: rgb(253, 246, 237);

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detailRight {
  width: 500px;

  display: flex;
  justify-content: center;
}

.posterbox {
}

.detailPoster {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 300px;
  height: 450px;
  /* padding: 50px 15px 5px 15px; */
}

.Detailbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.starBox {
  width: 100px;
  height: 40px;
  background-color: transparent;

  color: black;
  font-weight: bold;

  border-radius: 10px;
  border-color: gray;
  border-style: double;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detailReserveBtn {
  width: 175px;
  height: 40px;
  background-color: #ffcd4a;

  border-radius: 10px;
  border-color: gray;
  border-style: double;

  font-weight: 600;
}

.InfoBox {
  margin-top: 10px;
  padding: 10px;
  width: 300px;

  border-radius: 10px;
  border-color: gray;
  border-style: double;

  color: black;
  font-weight: bold;
}

.detailLeft {
  width: 1000px;

  display: flex;
  justify-content: left;
  flex-direction: column;
}

.reviewWriteBtnBox {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 900px;

  display: flex;
  justify-content: right;
}

.reviewWriteBtn {
  width: 150px;
  padding: 5px;
  background-color: #ffcd4a;

  border-radius: 10px;
  border-color: gray;
  border-style: double;

  font-weight: 600;
}

.reviewBox {
  margin-bottom: 30px;
  padding: 30px;
  width: 900px;

  border-radius: 10px;
  border-color: gray;
  border-style: double;

  color: black;
  font-weight: bold;

  display: flex;
  flex-direction: column;
}

.reviewContent {
}

.iconBox {
  margin-top: 15px;
}

.likeBtn {
  border: 0;
  background-color: transparent;

  font-weight: bold;
}

.commentBtn {
  border: 0;
  background-color: transparent;

  font-weight: bold;
}
